@import '../../styles/mixins.scss';
.detailsStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  color: black;
  text-align: center;

  margin: 20vh auto;

  .detailsImage {
    width: 25%;
    margin-bottom: -2rem;
  }

  .detailsNames {
    p {
      font-size: 1.5rem;
    }

    .rock {
      font-size: 4.5rem;
      color: #cfc0d3;
    }
  }

  p {
    font-size: 2rem;
  }

  .detailsTitle {
    font-size: 1.5rem;
    @include parisienne-font;
  }

  .detailsAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .time {
      font-size: 1.25rem;
    }

    .location {
      font-size: 1.5rem;
    }

    .address {
      font-size: 1.25rem;
    }

    a {
      font-size: 1.5rem;
      color: #000;
      text-decoration: none;

      padding: 0.25rem 0.5rem;
      margin-top: 0.5rem;

      border-top: 2px solid #ced9f4;
      border-bottom: 4px solid #ced9f4;
    }
  }
}
