@import '../../styles/mixins.scss';

.hotelStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;

  img {
    width: 35%;
  }

  .title {
    font-size: 3rem;
    @include parisienne-font;
  }

  .subtitle {
    font-size: 1.5rem;
    padding: 0 20px;
  }

  .hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;

    .hotelTitle {
      font-size: 2rem;
    }

    .hotelList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      a {
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;

        padding: 0.25rem 0.5rem;
        border-top: 2px solid #ced9f4;
        border-bottom: 3px solid #ced9f4;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 2rem;

    img {
      width: 30%;
    }
  }
}
