@import '../../styles/mixins.scss';

.countdownStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem;

  width: 100%;
  font-size: 30px;

  background-color: #ced9f477;
  color: black;

  .countdownHeader {
    font-size: 2rem;
    text-align: center;
    @include parisienne-font;
  }

  .countdownTimer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .countdownBlock {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;

      text-align: center;
      color: #000;

      .blockLegend {
        font-size: 0.75rem;
        text-transform: capitalize;
      }
    }
  }
}
