@import '../../styles/mixins.scss';

.heroStyled {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 100px;

  color: #000;

  .heroImage {
    position: relative;
    width: 100%;

    font-size: 4rem;

    img {
      width: 100%;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .heroInitials {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-size: 75px;

      span {
        display: inline-block;
        position: relative;

        &:nth-child(1) {
          top: -10;
        }

        &:nth-child(2) {
          top: 30px;
        }

        &:nth-child(3) {
          top: 70px;
        }
      }
    }
  }

  .heroTitle {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    font-size: 3rem;
    @include parisienne-font;
  }

  .heroSubtitle {
    font-size: 1.75rem;
    @include parisienne-font;
  }

  .musicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    font-size: 1.25rem;
    color: #54595f;
  }
}
