@import '../../styles/mixins.scss';
.photosStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;
  margin-top: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('/media/photos.png');
  height: 550px;

  .title {
    font-size: 3rem;
    @include parisienne-font;
  }
  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
  }
  button {
    border-radius: 5%;
    border: solid 2 purple;
    padding: 15px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 20px;
  }
}
