.mainView {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 2rem;
  height: 100%;
  width: 100dvw;
  margin-top: 60px;
  background-image: url('/media/background.jpg');
  background-position: center top;
  padding: 0;
}