@import '../../styles/mixins.scss';
.giftStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  img {
    width: 35%;
  }

  .title {
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    @include parisienne-font;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    padding: 0 20px;
  }
}
