@import '../../styles/mixins.scss';

.galleryStyled {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;

  font-size: 30px;
  margin: 20vh auto;
  padding-bottom: 250px;
  margin-bottom: -32px;

  color: black;

  .galleryTitle {
    font-size: 3rem;
    @include parisienne-font;
  }
  .gallerySubTitle {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    @include parisienne-font;
  }

  .imageContainer {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
