.timelineStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #ced9f477;

  .timelineComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 40%;
    }

    .time {
      font-size: 1.75rem;
      font-weight: bold;
      color: #9db4ef;

      margin-top: 1.5rem;
    }

    .text {
      font-size: 1.5rem;
    }
  }

  .squiggle {
    width: 5rem;
    transform: rotate(-45deg);
  }
  h2 {
    font-size: 3rem;
    font-family: Parisienne, cursive;
    font-weight: 400;
    font-style: normal;
  }
}
